{{ ansible_managed | comment }}

description "Prometheus Node Exporter"
author "Andrew Nelson <andrew@dummydata.com>"

start on (filesystem and net-device-up IFACE=lo)
stop on runlevel [!2345]

respawn
respawn limit 10 5
umask 022

pre-start script
  test -x {{ _node_exporter_binary_install_dir }}/node_exporter || { stop; exit 0; }
end script

exec {{ _node_exporter_binary_install_dir }}/node_exporter \
{% for collector in node_exporter_enabled_collectors -%}
{%   if not collector is mapping %}
    --collector.{{ collector }} \
{%   else -%}
{%     set name, options = (collector.items()|list)[0] -%}
    --collector.{{ name }} \
{%     for k,v in options|dictsort %}
    --collector.{{ name }}.{{ k }}={{ v | quote }} \
{%     endfor -%}
{%   endif -%}
{% endfor -%}
{% for collector in node_exporter_disabled_collectors %}
    --no-collector.{{ collector }} \
{% endfor %}
    --web.listen-address={{ node_exporter_web_listen_address }}
